.advantages {

    &__inner {
        @include adaptiveValue('padding-top', 70, 40);
        @include adaptiveValue('padding-bottom', 65, 30);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        max-width: 269px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        @include adaptiveValue('margin', 20, 15);
    }

    &__img {
        width: 70px;
        height: 70px;
        @include adaptiveValue('margin-bottom', 35, 20);
    }

    &__caption {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        color: #0d0d0d;
        margin-bottom: 20px;
        text-align: center;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 14px;
        line-height: 129%;
        text-align: center;
        color: #0d0d0d;

        span {
            color: $redColor;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include adaptiveValue('margin-bottom', 50, 20);
    }
}
