.consultation {

    background: url(../images/consultation-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &__inner {
        @include adaptiveValue('padding-top', 102, 40);
        @include adaptiveValue('padding-bottom', 108, 60);
    }

    &__title {
        text-transform: uppercase;
        max-width: 800px;
        color: #fff;
        @include adaptiveValue('font-size', 36, 18);
        line-height: 150%;
        margin-bottom: 8px;
    }

    &__caption {
        display: block;
        font-family: var(--font-family);
        font-weight: 500;
        @include adaptiveValue('font-size', 20, 16);
        line-height: 150%;
        color: #fff;
        max-width: 426px;
        margin-bottom: 36px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 303px;
        width: 100%;
    }

    &__input {
        background-color: #fff;
        @include adaptiveValue('padding-top', 15, 13);
        @include adaptiveValue('padding-bottom', 15, 13);
        @include adaptiveValue('padding-left', 20, 16);
        @include adaptiveValue('padding-right', 20, 16);
        border-radius: 10px;

        &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #4b4b4b;
        }

        &:not(:last-child) {
            margin-bottom: 11px;
        }
    }

    &__btn {
        padding: 17px;
        cursor: pointer;
        font-size: 12px;
    }
}