.header {

    background: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &__inner {
        padding-top: 21px;
        padding-bottom: 93px;
        @include adaptiveValue('padding-bottom', 93, 50);
    }

    &__logo {
        max-width: 251px;
        margin-bottom: 20px;
    }

    &__inf {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    &__call {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.header-top {

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue('margin-bottom', 91, 50);
    flex-wrap: wrap;
    align-content: flex-start;

    &__subcaption {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        @include adaptiveValue("font-size", 12, 10);
        line-height: 100%;
        color: #fff;
        margin-bottom: 7px;
    }

    &__caption {
        font-family: var(--font-family);
        font-weight: 500;
        @include adaptiveValue("font-size", 18, 14);
        text-align: center;
        color: #fff;
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 700;
        @include adaptiveValue("font-size", 18, 14);
        line-height: 100%;
        color: #fff;
        margin-bottom: 5px;
    }

    &__btn {
        @include adaptiveValue("padding-top", 10, 8);
        @include adaptiveValue("padding-left", 15, 10);
        @include adaptiveValue("padding-right", 15, 10);
        @include adaptiveValue("padding-bottom", 10, 8);
    }
}
.logo {

    &__img {
        width: 100%;
    }
}

.header-main {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        @include adaptiveValue('font-size', 42, 20);
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
        @include adaptiveValue('margin-bottom', 17, 10);
    }

    &__caption {
        font-family: var(--font-family);
        font-weight: 500;
        @include adaptiveValue('font-size', 24, 13);
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
        @include adaptiveValue('margin-bottom', 60, 50);
    }

    &__list {
        display: flex;
        margin-bottom: 65px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        width: 45px;
        height: 45px;
        margin-bottom: 20px;
    }

    &__span {
        font-family: var(--font-family);
        font-weight: 500;
        @include adaptiveValue('font-size', 14, 12);
        line-height: 100%;
        color: #fff;
        max-width: 120px;
        text-align: center;
    }

    &__btn {
        @include adaptiveValue('padding-top', 14, 12);
        @include adaptiveValue('padding-bottom', 14, 12);
        @include adaptiveValue('padding-left', 28, 18);
        @include adaptiveValue('padding-right', 28, 18);
        margin-bottom: 10px;
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 500;
        @include adaptiveValue('font-size', 16, 12);
        text-align: right;
        color: #fff;
        text-decoration-skip-ink: none;
    }
}

.header .header__inner .header-main__link {
    text-decoration: underline;
}
